body {
    font-family: Helvetica;
    font-size: small;
}

h3 {
    text-align: center;
    font-size: xx-large;
}

table {
    border-collapse: separate;
    border-radius: 25px;
    margin: auto;
}

table>caption {
    font: normal small-caps bold x-large Helvetica;
}

a {
    text-decoration: none;
    text-align: center;
    margin: 46vw;
}

a:visited {
    color: purple;
    text-decoration: none;
}

th {
    background-color: #4472C4;
    color: white;
    font-variant: small-caps;
    border: 4px solid #4472C4;
}

tr:nth-child(odd){
    background-color: #CFD5EA;
    color: black;
    border: 4px solid #CFD5EA;
}

tr:nth-child(even){
    background-color: #E9EBF5;
    color: black;
    border: 4px solid #E9EBF5;
}

/*
.top-right-corner{
    border-radius: 0 25px 0 0 !important;
}

.top-left-corner{
    border-radius: 25px 0 0 0 !important;
}

.bottom-right-corner{
    border-radius: 0 0 25px 0 !important;
}

.bottom-left-corner{
    border-radius: 0 0 0 25px; !important;
}
*/

td {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 25vw 25vw; 
    background-color: LightCyan;
    margin: auto;
    width: 50vw;
    padding: 2rem;
}

.button {
    grid-column: 1 / 3;
    justify-self: center;
}

input, textarea {
    background-color: #CFD5EA;
    color: black;
}

input:focus, textarea:focus {
    background-color: #E9EBF5;
    color: black;
}

li {
    list-style-type: none;
}

li:before {
    content: '\1F642';
    margin-left: -20px;
    margin-right: 10px;
}
